@media (max-width: 1060px) {
  
  h1 {
    padding-top: 5em;
    font-size: 3rem;
  }

  h3 {
    padding: 1em;
    font-size: 2rem;
  }

  .base {
    flex-direction: column;
    align-items: center;
  }
  
  .base > div {
    margin-bottom: 60px;
  }

  .espacamento {
    margin-top: 0px;
  }
}